h1, h2, h3, h4, h5, h6 {
      font-family: 'Bungee Inline', cursive;
  }

  /* Navigation Bar */

  .navbar {
    background-color: #66BFBF;
  }

  .navbar-brand{
    font-family: 'Bungee Inline', cursive;
    color: #ffcfdf;
    font-size: 5.5rem;
    font-weight: bold;
    letter-spacing: 4px;
  }

  .nav-item {
    padding: 0 18px;
  }

  .nav-link {
    font-size: 0.95rem;
    color: #fff;
    font-family: 'Major Mono Display', monospace;
  }

/* Welcome Section */

  .welcome {
    background-color: #e3fdfd;
    position: relative;
    padding-top: 100px;
  }

  .top-cloud {
    position: absolute;
    right: 300px;
    top: 40px;
  }
