h1, h2, h3, h4, h5, h6 {
      font-family: 'Bungee Inline', cursive;
      text-align: center;
  }

body {
  text-align: center;
}

/* Containers */
.container-fluid{
  padding: 7% 15%
}

  /* Navigation Bar */

  .navbar {
    background-color: #66BFBF;
  }

  .navbar-brand{
    font-family: 'Bungee Inline', cursive;
    color: #ffcfdf;
    font-size: 5.5rem;
    font-weight: bold;
    letter-spacing: 4px;
  }

  .nav-item {
    padding: 0 18px;
  }

  .nav-link {
    font-size: 0.95rem;
    color: #fff;
    font-family: 'Major Mono Display', monospace;
  }

  /* Nice to Meet You Section */
  .profile-pic {
    width: 100%;
  }

  .title-heading {
    color: #ffcfdf;
    font-size: 5.625rem;
    margin: 50px auto 0 auto;
    font-family: 'Bungee Inline', cursive;
    line-height: 2;
    position: absolute;
    right: 250px;
    top: 150px;
  }

  .background-cloud {
    position: absolute;
    right: 250px;
    bottom: 0px;
    height: 70%;
  }

  .side-cloud {
    position: absolute;
    right: -350px;
    bottom: 90px;
    height: 50%;
  }

.side-cloud2 {
  position: absolute;
  right: 10px;
  bottom: 90px;
  height: 40%;
}

.side-cloud3 {
  position: absolute;
  right: 430px;
  bottom: 0px;
  height: 40%;
}

.side-cloud4 {
  position: absolute;
  right: 500px;
  bottom: 90px;
  height: 30%;
}

.stars {
  position: absolute;
  right: -20px;
  top: 20px;
  height: 20%;
}

/* Welcome Section */

  .greetings {
    background-color: #e3fdfd;
    position: relative;
    padding-top: 205px;
    text-align: center;
    height: 1000px;
  }

.greetingsTitle {
  color: #ffcfdf;
  font-size: 5.625rem;
  margin: 50px auto 0 auto;
  font-family: 'Bungee Inline', cursive;
  line-height: 2;
}
  .top-cloud {
    position: absolute;
    right: 100px;
    top: 40px;
    height: 30%;
  }

  .bottom-cloud {
    position: absolute;
    left: 80px;
    bottom: 100px;
    height: 30%;
  }


  .title-subheading {
    color: #66BFBF;
    font-size: 2.5rem;
    font-family: 'Major Mono Display', monospace;
    font-weight: normal;
  }


/* Education Section */
#education {
  background-color: #ffcfdf;
  position: relative;
  padding: 7% 15%;
}

.educationContainer{
  width: 100%;
  height: 100%;
  padding: 0 0;
}

#education  .greetingsTitle {
    color: #66BFBF;
}


.educationLocation {
  font-size: 80px;
  font-family: 'Bungee Inline', cursive;
  color: #ffac81;
  text-decoration: underline;
}

.educationInfo {
  height: 1000px;
}

.educationTitle {
  font-family: 'Bungee Inline', cursive;
  font-size: 4rem;
  text-align: center;
  color: #B19CD9;
  justify-content: center;
}

.row {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 600px;
}
.carousel-item {
}
